.main-layout {
    background-color: #EFEFEF;
    min-height: calc(100% - 56px);
    display: flex;
    justify-content: center;

    
    li {
        list-style: none;
        padding: 7px 12px;
        border: 1px solid gray;
        
    }
    
    li:hover {
        color: #59ab6e;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        
    }
}

.nav-actions {
    display: flex;
    align-items: center;
}