.main-layout {
    background-color: #EFEFEF;
    min-height: calc(100% - 56px);
    display: flex;
    justify-content: center;


    .navigation-links {
        margin-top: 15px;
        display: flex;
        color: #212934;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        font-family: 'Roboto', sans-serif;
        font-size: 18px !important;
        font-weight: 300 !important;
        align-items: center;
        justify-content: space-around;
        // width: 12%;
    }
    
    li {
        list-style: none;
        padding: 7px 12px;
        border: 1px solid gray;
        
    }
    
    li:hover {
        color: #59ab6e;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        
    }
}

.nav-actions {
    display: flex;
    align-items: center;
}