.auth-main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.main-logo-container {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
        height: 300px;
    }

}
.login-form {
    overflow: auto;

    .css-10ou5kq-MuiInputBase-root-MuiFilledInput-root {
        background: none;
    }

    .css-10ou5kq-MuiInputBase-root-MuiFilledInput-root:focus {
        background: none;
    }
}

.close-auth {
    position: absolute;
    right: 14%;
    top: 28px;

    svg {
        font-size: 2.5em;
        color: #5aab6e;
    }

}
.submit-button-container {
    display: flex;
    justify-content: center;
}

.css-75cjuy-MuiInputBase-root-MuiFilledInput-root {
    background: none !important;

    &:hover {
        background: none !important;
    }

    &:focus {
        background: none !important;
    }
}

.submit-button-container {
    margin: 3% 0;
}

.register-link {
    margin: 30px;
    display: flex;
    justify-content: center;

    a {
        padding-left: 7px;
    }
}

.forgot-password-link {
    color: #5aab6e;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

