.registration-form {
    width: 50%;

    .name-container {
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding-left: 7px;
        // justify-content: space-evenly;
    }
}

